.spinner-size {
  width: 3rem !important;
  height: 3rem !important;
}

.user {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--orange-100);
  text-align: center;
  line-height: 3rem;
  font-size: 1.8rem;
}
.offcanvas-header,
.offcanvas-body {
  background-color: var(--dark-bg);
  color: var(--light-font);
}

.offcanvas-header {
  padding-bottom: 0 !important;
  .offcanvas-title {
    color: var(--orange-300);
    font-weight: 200;
    font-size: 2rem;
  }
}

.offcanvas-body {
  h5 {
    color: var(--orange-300);
    line-height: 2rem;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: capitalize;
    border-bottom: 1px solid var(--orange-300);
  }

  svg {
    color: var(--orange-300);
    margin-right: 1rem;
  }

  .geo {
    margin-bottom: 1rem;
    p {
      margin: 0;
      margin-left: 2rem;
    }
  }
}
