@use '../../assets/styles/mixins.scss' as *;

.card {
  height: 15rem;
  width: 13rem;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 2fr 2rem;
  grid-template-areas:
    'title'
    'description';

  @include tablet {
    width: 47%;
  }

  @include mobile {
    width: 100%;
  }

  h3 {
    grid-area: title;
    font-size: 1.5rem;
    color: var(--teal-100);
  }

  p {
    grid-area: description;
    font-size: 1rem;
  }

  button {
    background-color: var(--teal-100);
    color: var(--orange-100);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      background-color: var(--teal-300);
    }

    &:active {
      opacity: 0.7;
    }
  }
}
