.nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--dark-bg);
  color: var(--light-font);
}
.nav_container ul {
  display: flex;
  list-style: none;
  column-gap: 2rem;
}
.nav_container ul li {
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    color: var(--orange-100);
  }
  active {
    color: var(--orange-500);
  }
}
/* .nav_container ul li:hover {
  color: var(--orange-100);
}

.nav_container ul li:active {
  color: var(--orange-500);
} */
